

<button class="btn-create" (click)="onOpenModal()" >button here</button>

<p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
        <tr>
            <td>{{ users.id }}</td>
            <td>{{ users.name }}</td>
            <td>{{ users.lastName }}</td>
            <td>{{ users.age }}</td>
            <td>{{ users.role }}</td>
            <td><button (click)="onEdit(users)">Update</button><button (click)="onDelete(users.id)">Delete</button></td>
        </tr>
    </ng-template>
</p-table>